# (c) Cocktail
# Fichier de config de l'application Canelle 
# Les parametres definis ici remplacent ceux eventuellement
# definis dans la table GRHUM.GRHUM_PARAMETRES 


SAUT_URL=https://apps.univ-lr.fr/cgi-bin/WebObjects/ServAut.woa/wa/
SAUT_ID_TRANSLATION=GRHUM:GRHUMD,ULOGIN:GRHUMD

APP_USE_MAIL=YES
GHRUM_HOST_MAIL=mail.cocktail.org
ADMIN_MAIL=rodolphe.prin@cocktail.org
DOMAIN_NAME=cocktail.org

APP_ID=CANNELLE
APP_ALIAS=Cannelle
APP_TITLE=CANNELLE
APP_USE_GEDFS=NO
APP_ULR=http://www.cocktail.org


NET_NO_PROXY_HOSTS=*.univ-lr.fr

#Identification CAS
#utilisation de l'identification CAS
#APP_USE_CAS=(YES|NO)
APP_USE_CAS=NO
ACCEPT_EMPTY_PASSWORD=YES

MODE_DEBUG=false


#Obligatoire. Repertoire qui contient les rapports livres avec l'application (necessite droit en ecriture sur le repertoire pour le user qui fait tourner l'application)
org.cocktail.fwkcktlreport.param.cocktail_report_location=/APPLIS/00_rapports_cktl

#Obligatoire. Repertoire qui contient les rapports locaux (necessite droit en ecriture sur le repertoire pour le user qui fait tourner l'application).
org.cocktail.fwkcktlreport.param.local_report_location=/APPLIS/00_rapports_local

# Mot de passe Administrateur
APP_ADMIN_PASSWORD=wxtKrSM0vgIec
