/* --------------------------------------------------------------------------- */
.cktl_entete_wrapper_horizontal {
	  background :#D8863D url(images/cannelle_logo.png) no-repeat scroll left center ;
	  padding-left: 50px;
}

table {
	font-size: 12px;
}
body {
	font-size: 11px;
}
input, textarea {
	font-size: 11px;
}


.sousTitrePrincipal {
	font-style: italic;
	font-size: 12px;
	text-align: right;
	padding-right: 10px;
	vertical-align: bottom;
	width: 100%;
}

#CannelleMenu {
	height: 32px;
	background-color: #C26919;
	position: relative;
	text-align: left;
	vertical-align : text-bottom;
	font-size: 12px;
	display: block;
	font-weight: bold;
	padding-left: 4px;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 0px;
}

#CannelleMenu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	vertical-align: bottom;
}

#CannelleMenu ul li {
	width: 150px;
	float: left;
	text-align: center;
	padding-top : 2px;
	z-index: auto !important /*Non-IE6*/;
	z-index: 1000 /*IE6*/;
	
}

#CannelleMenu ul li a {
	height: 25px;
	text-decoration: none;
	float: none !important /*Non-IE6*/;
	float: left /*IE-6*/;
	display: block;
	background-color: #D89458;
	margin-bottom: 0px;
	
}

#CannelleMenu ul li a:hover {
	color: #ffffff;
	background-color: #9D520F;
}


.CannelleRapportItemRow {
	
}




/*
#menuPrincipal {
	width: 200px;
	padding: 0px;
	margin-top: 50px;
}

#menuPrincipal ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#menuPrincipal li a {
	height: 32px;
	height: 24px;
	text-decoration: none;
}

#menuPrincipal li a:link,#menuPrincipal li a:visited {
	color: #dcd191;
	display: block;
	padding: 8px 0 0 30px;
}

#menuPrincipal li a:hover {
	color: #ffffff;
	padding: 8px 0 0 30px;
	background-color: #b1bf82;
}

#menuPrincipal li a:active {
	color: #dcd191;
	background-color: #80C65A;
	padding: 8px 0 0 30px;
}
*/
.connectedUserInfo {
	border: solid 1px #b1bf82;
	width: 99%;
	text-align: center;
}

.connectedUserInfoTitre {
	background-color: #b1bf82;
	font-weight: bold;
	padding: 2px;
	color: #f9f5ec;
}

.connectedUserInfoContenu {
	color: #f9f5ec;
	padding: 5px;
}

.cktlajaxtableview>div.cktlAjaxTableView_DivHeaderAndBody table {
	font-size: 12px;
}

