<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns = "http://www.w3.org/1999/xhtml" xml:lang = "en" lang = "fr">
  <head>
    <meta http-equiv = "Content-Type" content = "text/html; charset=UTF-8" />
    <title><webobject name = "Titre" /></title>
    <script type = "text/javascript">
      if(window.history.forward(1) != null) {
        window.history.forward(1);
      }
    </script>
  </head>
  <webobject name = "Body">
    <webobject name = "ContainerPrincipal">
      <div id = "Entete" class = "cktl_entete_wrapper_horizontal">
        <span>Cannelle</span>
        <span class = "sousTitrePrincipal">Outil de g&eacute;n&eacute;ration de rapports bas&eacute;s sur le PGI Cocktail</span>
        <webobject name = "IndicateurBusy" />
        <span style = "top:2px;right:2px;position:absolute;">
          <span class = "sousTitrePrincipal"> <webobject name = "NomUtilisateur" /></span>
          <webobject name = "LinkQuitter"><webobject name = "BtnQuitter" /></webobject>
        </span>
      </div>
      <div> <webobject name = "Contenu" /> </div>
      <div id = "Copyright" class = "cktl_copyright_wrapper_horizontal" style = "clear: both">
        <span style = "float:left;"><webobject name = "Copyright" /></span>
        <span style = "float:right;">
          <webobject name = "Version" />
          - 
          <webobject name = "ServerId" />
        </span>
      </div>
    </webobject>
    <webobject name = "Notifs" />
    <webobject name = "ErreurContainer">
      <script type = "text/javascript"><webobject name = "ErreurScript" />
      </script>
    </webobject>
    <webobject name = "Busy" />
    <div id = "busydiv" style = "display: none;"> Chargement en cours ... <webobject name = "BusyImage" /> </div>
    <webobject name = "AjaxIndicator" />
  </webobject>
</html>